In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [2]:
import pandas as pd 
data = pd.read_csv("Downloads/MINDTREE.csv") 
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MINDTREE,EQ,15-May-2017,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90
1,MINDTREE,EQ,16-May-2017,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65
2,MINDTREE,EQ,17-May-2017,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35
3,MINDTREE,EQ,18-May-2017,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05
4,MINDTREE,EQ,19-May-2017,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42

In [3]:
data[data["Series"]!="EQ"] #checking for series value other than EQ

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total Traded Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty]
Index: []

In [4]:
data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,MINDTREE,EQ,07-May-2019,981.75,982.8,985.00,975.00,981.0,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20
490,MINDTREE,EQ,08-May-2019,979.95,981.0,985.00,971.05,982.0,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54
491,MINDTREE,EQ,09-May-2019,980.50,979.6,983.15,976.10,980.9,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89
492,MINDTREE,EQ,10-May-2019,980.45,980.4,982.90,973.00,974.0,975.35,977.55,215170,2.103396e+08,5128,26734,12.42
493,MINDTREE,EQ,13-May-2019,975.35,973.4,983.00,970.30,981.0,979.10,980.16,485941,4.762997e+08,14005,222691,45.83

In [5]:
data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.00000
mean,778.486032,779.720547,792.118421,767.127328,779.634919,779.434413,780.076619,1.388615e+06,1.191635e+09,33021.139676,3.463618e+05,29.18668
std,214.140514,214.851383,218.056333,210.381329,214.484986,213.989087,214.038370,1.450169e+06,1.373025e+09,30613.616442,3.420743e+05,14.05687
min,442.500000,443.000000,448.750000,439.050000,441.400000,442.500000,442.240000,4.630000e+04,2.305583e+07,1502.000000,1.505300e+04,5.87000
25%,537.025000,537.975000,545.862500,528.012500,535.862500,537.400000,537.410000,5.724762e+05,3.399893e+08,14062.750000,1.523290e+05,18.69500
50%,835.075000,838.000000,851.525000,820.625000,835.025000,835.875000,835.615000,1.006586e+06,8.580623e+08,25609.500000,2.529855e+05,26.39500
75%,968.137500,968.500000,980.500000,949.450000,969.950000,969.775000,967.802500,1.631997e+06,1.431053e+09,42737.000000,4.366368e+05,37.06250
max,1161.950000,1165.000000,1183.800000,1147.800000,1166.000000,1161.950000,1167.480000,1.338521e+07,1.298866e+10,311806.000000,3.851210e+06,91.89000

In [6]:
data['Date'] =pd.to_datetime(data.Date)

In [7]:
data = data.sort_values(by='Date',ascending=False)#Sorting Dataset according to date
df=data[0:89]
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
493,MINDTREE,EQ,2019-05-13,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83
492,MINDTREE,EQ,2019-05-10,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42
491,MINDTREE,EQ,2019-05-09,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89
490,MINDTREE,EQ,2019-05-08,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54
489,MINDTREE,EQ,2019-05-07,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,MINDTREE,EQ,2019-01-07,815.00,819.00,839.70,816.30,835.00,835.35,830.24,1238344,1.028124e+09,30168,232461,18.77
408,MINDTREE,EQ,2019-01-04,834.80,832.10,841.00,792.25,815.45,815.00,808.81,3507785,2.837149e+09,87843,508263,14.49
407,MINDTREE,EQ,2019-01-03,860.50,861.15,865.00,824.35,834.30,834.80,848.07,908897,7.708068e+08,53508,305402,33.60
406,MINDTREE,EQ,2019-01-02,863.40,858.00,878.00,857.20,859.00,860.50,870.52,892157,7.766405e+08,19259,84733,9.50
405,MINDTREE,EQ,2019-01-01,864.50,864.00,867.10,853.40,863.15,863.40,861.25,399996,3.444982e+08,7996,27003,6.75

In [8]:
def calci(df):
    a=df['Close Price'].max()
    b=df['Close Price'].min()
    c=df['Close Price'].mean()
    print('{0}max and {1}min and {2}mean'.format(a, b,c))
calci(df)

989.4max and 812.25min and 919.220224719101mean

In [9]:
print(data.dtypes)

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [10]:
x=data['Date'].max()-data['Date'].min()
print(x) #1.3

728 days 00:00:00

In [11]:
data['Month']=pd.DatetimeIndex(data['Date']).month
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month
493,MINDTREE,EQ,2019-05-13,975.35,973.4,983.00,970.30,981.0,979.10,980.16,485941,4.762997e+08,14005,222691,45.83,5
492,MINDTREE,EQ,2019-05-10,980.45,980.4,982.90,973.00,974.0,975.35,977.55,215170,2.103396e+08,5128,26734,12.42,5
491,MINDTREE,EQ,2019-05-09,980.50,979.6,983.15,976.10,980.9,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89,5
490,MINDTREE,EQ,2019-05-08,979.95,981.0,985.00,971.05,982.0,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54,5
489,MINDTREE,EQ,2019-05-07,981.75,982.8,985.00,975.00,981.0,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20,5

In [12]:
data['Year']=pd.DatetimeIndex(data['Date']).year

In [13]:
#VOLUME WEIGHTED AVVERAGE PRICE OF THE STOCK FOR EACH MONTH
grouped = list(data.groupby('Month'))
i=1
vol=list()
price=list()
vwap=[]
for i in range(0,12):
    vol.append(grouped[i][1]['Total Traded Quantity'])
    price.append(grouped[i][1]['Close Price'])
for i in range(0,12):
    s=sum(vol[i]*price[i])
    v=sum(vol[i])
    vwap.append(s/v)
print(vwap)

[806.352228369484, 820.8653613282288, 867.4326823577492, 945.6706043596148, 940.4035109221213, 827.8957879416295, 893.8791184583732, 928.5099026496213, 958.225677464915, 789.2489095075173, 720.0620335856285, 741.6338610564563]

In [14]:
grouped = list(data.groupby('Date',sort=False))
grouped[90]

(Timestamp('2018-12-28 00:00:00'),
        Symbol Series       Date  Prev Close  Open Price  High Price  \
 403  MINDTREE     EQ 2018-12-28      861.85       863.0       869.0

      Low Price  Last Price  Close Price  Average Price  Total Traded Quantity  \
 403     858.05       865.2        864.1          863.7                 420544

          Turnover  No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  \
 403  3.632257e+08           7846            49437                   11.76

      Month  Year
 403     12  2018  )

In [15]:
#Average Stock Price Of Last N Days
closed=list()
a=list()
def avg(n):
    for i in range(n):
        s=(grouped[i][1]['Close Price'])
        a.append(float(s))
    print(sum(a)/n)
n=int(input("Enter of Days"))
avg(n)

Enter of Days 12

979.5500000000001

In [16]:
#Profit/Loss Percentage
closed=list()
a=list()
def per(n):
    a=float(grouped[0][1]['Close Price'])
    b=float(grouped[n-1][1]['Close Price'])
    c=a-b
    d=(c/b)*100
    if d>0:
        print("Profit Percentage is {0}%".format(d))
    else:
        print("Loss Percentaage is {0}%".format(d))
n=int(input("Enter N Days"))
per(n)

Enter N Days 12

Loss Percentaage is -0.030630998570548754%

In [17]:
df=data['Close Price']
data['Day_Perc_Change']=df.pct_change(axis=0)
data['Trend']='NaN'
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,Day_Perc_Change,Trend
493,MINDTREE,EQ,2019-05-13,975.35,973.40,983.00,970.30,981.00,979.10,980.16,485941,4.762997e+08,14005,222691,45.83,5,2019,NaN,NaN
492,MINDTREE,EQ,2019-05-10,980.45,980.40,982.90,973.00,974.00,975.35,977.55,215170,2.103396e+08,5128,26734,12.42,5,2019,-0.003830,NaN
491,MINDTREE,EQ,2019-05-09,980.50,979.60,983.15,976.10,980.90,980.45,980.02,3787159,3.711482e+09,8159,3479880,91.89,5,2019,0.005229,NaN
490,MINDTREE,EQ,2019-05-08,979.95,981.00,985.00,971.05,982.00,980.50,979.84,4301316,4.214603e+09,13038,3851210,89.54,5,2019,0.000051,NaN
489,MINDTREE,EQ,2019-05-07,981.75,982.80,985.00,975.00,981.00,979.95,979.77,1242934,1.217784e+09,10864,884988,71.20,5,2019,-0.000561,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,-0.009655,NaN
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,-0.009246,NaN
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,0.027287,NaN
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,0.009776,NaN
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,-0.003618,NaN

In [18]:
data.loc[(data['Day_Perc_Change'] <= 0.5) & (data['Day_Perc_Change'] > -0.5), 'Trend'] = 'Slight Change'
data.loc[(data['Day_Perc_Change'] > 0.5) & (data['Day_Perc_Change'] < 1), 'Trend'] = 'Slight Positive'
data.loc[(data['Day_Perc_Change']>= -1) & (data['Day_Perc_Change']<-0.5),'Trend']='Slight Negative'
data.loc[(data['Day_Perc_Change'] > 1) & (data['Day_Perc_Change'] <3), 'Trend'] = 'Positive'
data.loc[(data['Day_Perc_Change'] > -3)& (data['Day_Perc_Change'] <-1), 'Trend'] = 'Negative'
data.loc[(data['Day_Perc_Change'] > 3) & (data['Day_Perc_Change'] <7), 'Trend'] = 'Among Top Gainers'
data.loc[(data['Day_Perc_Change'] >-7 ) & (data['Day_Perc_Change'] <-3), 'Trend'] = 'Among Top Loosers'
data.loc[(data['Day_Perc_Change']>7),'Trend']='Ball Run'
data.loc[(data['Day_Perc_Change']< -7),'Trend']='Bear Drop'

In [19]:
data.tail(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,Day_Perc_Change,Trend
9,MINDTREE,EQ,2017-05-26,543.90,540.00,544.00,532.00,533.45,535.20,537.15,461613,2.479538e+08,12606,113087,24.50,5,2017,0.008764,Slight Change
8,MINDTREE,EQ,2017-05-25,509.95,513.70,549.50,508.45,542.50,543.90,532.14,1632427,8.686829e+08,25072,693340,42.47,5,2017,0.016256,Slight Change
7,MINDTREE,EQ,2017-05-24,501.15,502.00,515.00,494.05,511.95,509.95,506.72,823967,4.175211e+08,15083,351179,42.62,5,2017,-0.062420,Slight Change
6,MINDTREE,EQ,2017-05-23,502.35,504.00,507.45,491.00,498.00,501.15,498.72,452893,2.258664e+08,8567,198703,43.87,5,2017,-0.017257,Slight Change
5,MINDTREE,EQ,2017-05-22,497.50,499.95,511.85,497.10,501.55,502.35,504.78,399974,2.018999e+08,9779,107089,26.77,5,2017,0.002394,Slight Change
4,MINDTREE,EQ,2017-05-19,492.90,491.95,502.95,489.50,495.15,497.50,496.43,352273,1.748782e+08,8326,57853,16.42,5,2017,-0.009655,Slight Change
3,MINDTREE,EQ,2017-05-18,506.35,502.00,516.75,486.00,487.50,492.90,505.60,852336,4.309377e+08,18513,170919,20.05,5,2017,-0.009246,Slight Change
2,MINDTREE,EQ,2017-05-17,511.30,507.05,519.70,502.75,504.00,506.35,512.10,391401,2.004375e+08,13341,150098,38.35,5,2017,0.027287,Slight Change
1,MINDTREE,EQ,2017-05-16,509.45,507.00,515.85,506.00,511.00,511.30,512.69,207011,1.061317e+08,5550,82090,39.65,5,2017,0.009776,Slight Change
0,MINDTREE,EQ,2017-05-15,510.60,507.35,515.00,505.90,510.50,509.45,510.39,271952,1.388005e+08,8261,100362,36.90,5,2017,-0.003618,Slight Change

In [20]:
grouped = (data.groupby('Trend'))
v=grouped['Total Traded Quantity'].mean()
print("Mean",v['Slight Change'])
v=grouped['Total Traded Quantity'].median()
print("Median",v['Slight Change'])

Mean 1390446.4665314401
Median 1007461

In [21]:
data.to_csv('week2.csv')

In [6]:
import pandas as pda
li=[1,2,3,4,5,6,]
pd.Series(li)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64